# Лямбда-функции — это функции, у которой фактически нет имени. Лямда-выражения — анонимные функции

In [4]:
def sum_(a, b):
    print("This function count sum of a and b")
    return a + b

In [8]:
res = (lambda a, b: a + b)(1, 2)
print(res)

3

In [6]:
sum_(1, 2)

This function count sum of a and b

3

In [7]:
(lambda a, b: a + b)(1, 3), (lambda a, b: a + b)(1, 3)

4

In [9]:
sum_lambda = lambda a, b: a + b

In [10]:
sum_lambda(1, 2)

3

In [11]:
sum_lambda(3, 80)

83

In [12]:
second_func = sum_

In [13]:
second_func(3, 80)

This function count sum of a and b

83

In [14]:
sum_ = sum_lambda

In [15]:
sum_(90, 9)

99

# Задание 9.01

Создать lambda функцию, которая принимает на вход имя и выводит его в формате “Hello, {name}”

In [17]:
def greet(name):
    return name

In [19]:
print(greet("Alex"))

Alex
None

In [21]:
(lambda name: f"Hello, {name}")("Alex")

'Hello, Alex'

# Задание 9.02

Создать lambda функцию, которая принимает на вход список имен и 
выводит их в формате “Hello, {name}” в другой список

In [22]:
names = ["Ihar", "Alex", "Zeka"]

In [23]:
(lambda init_names: [f"Hello, {name}" for name in init_names])(names)
# ["Hello, Ihar", "Hello, Alex", "Hello, Zeka"]

['Hello, Ihar', 'Hello, Alex', 'Hello, Zeka']

In [26]:
hello_names_func = lambda init_names: [f"Hello, {name}" for name in init_names]

In [27]:
hello_names_func(names)

['Hello, Ihar', 'Hello, Alex', 'Hello, Zeka']

# map

In [29]:
[i**2 for i in range(1, 10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
result = map(len, ["Zeka", "Volodia", "Petia"])

In [31]:
list(result)

[4, 7, 5]

In [34]:
result = list(map(sum, ["Zeka", "Volodia", "Petia"]))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
sum("Zeka")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
result = map(
    lambda value: value ** 2, 
    [1, 2, 3],
)

In [37]:
list(result)

[1, 4, 9]

# Задание 9.03

Дан список чисел. Вернуть список, где каждый число переведено в строку
[5, 3] -> [‘5’, ‘3’]

In [38]:
str(5)

'5'

In [42]:
array = [5, 3]

In [45]:
result = map(
    str,
    array
)

In [46]:
next(result)

'5'

In [40]:
list(result)

['5', '3']

In [44]:
result

In [48]:
[i for i in range(1, 10) if i % 2 == 0]

[2, 4, 6, 8]

# filter

In [54]:
result = filter(
    lambda num: num % 2 == 0,
    [1, 2, 3, 4, 5, 6]
)

In [55]:
list(result)

[2, 4, 6]

# Задание 9.04

Дан список имен, отфильтровать все имена, где есть буква k

In [56]:
names = ["Ihar", "Zeka", "Kostya", "Petr", "Nikolai"]

In [59]:
list(
    filter(
        lambda name: 'k' in name or 'K' in name,
        names
    )
)

['Zeka', 'Kostya', 'Nikolai']

# reduce() -> int

In [60]:
from functools import reduce

In [61]:
sum([1, 2, 3, 4])

10

In [65]:
print(reduce(
    lambda current_value, new_item: current_value+new_item,
    [1, 2, 3, 4],
    0
))

10

In [74]:
reduce(lambda a, x: a + x ** 2, [1, 2, 3], 0)

14

# Задание 9.05

Дан список чисел. Найти произведение всех чисел, которые кратны 3.

In [67]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
init_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
18*9

162

In [70]:
numbers = list(filter(
    lambda x: x % 3 == 0,
    init_data
))

In [71]:
numbers

[3, 6, 9]

In [79]:
reduce(
    lambda a, x: a*x,
    numbers,
    1
)

162

In [80]:
reduce(
    lambda a, x: a*x,
    filter(
        lambda x: x % 3 == 0,
        init_data
    ),
    1
)

162

# decorators

In [132]:
def log_params(real_sum):
    def fake_sum(a, b):
        print(f"Входные данные: {a}, {b}")
        return real_sum(a, b)
    return fake_sum

def sum_(a, b):
    return a + b

In [133]:
sum_

In [134]:
sum_(9, 80)

89

In [135]:
sum_ = log_params(sum_)

In [136]:
sum_

In [137]:
sum_(9, 80)

Входные данные: 9, 80

89

In [143]:
@log_params
def mult_(a, b):
    return a * b

In [144]:
mult_(2, 3)

Входные данные: 2, 3

6

# Задание 9.06

Написать декоратор, который будет выводить время выполнения функции

In [145]:
from datetime import datetime
time = datetime.now()

In [146]:
time

datetime.datetime(2020, 11, 18, 21, 54, 40, 278658)

In [148]:
def time_checker(real_func):
    def fake_func(*args):
        print(f"Входные данные: {args}")
        return real_func(*args)
    return fake_func

In [150]:
datetime_now = time_checker(datetime.now)

In [151]:
datetime_now()

Входные данные: ()

datetime.datetime(2020, 11, 18, 21, 57, 18, 698844)